/* Overrides to core styles.css  */

 {
	margin-left:20px;
	background-image: url('../../img/ff_logo.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 80px;
	padding: 10px 0px 10px 0px;
}

a:visited {
	color: #337ab7;
}

.btn-primary:link {
	color: #ffffff;
}
.btn-primary:visited {
	color: #ffffff;
}

#main {
	padding: 0px;
}

#maincontent {
	background-color: #ffffff;
}

#outer {
	border: none;
}

#header #logo {
	background-image: url('../../img/ff_logo.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	}
	



#mapheading {
	text-align:left;
}


@media screen and (max-width: 520px) {
	
	#header {
		min-height: 30px;
		
	}
	
	#mapwrapper, #mapcanvas {
		min-height: 200px;
	}
	
	#header #logo {
	background-image: url('../../img/ff_logo_sm.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 30px;
	}
	
	.searchText {
		display: none;
	}
}


#menu_bar {
	background-color: #195C4B;
	margin-top: 15px;
}

@media screen and (max-width: 520px) {
 	#menu_bar {
 	display: none;
 	}
}

/* overrides to Bootstrap */
.navbar {
	margin-bottom: 0px; 
}



/* Foodfinder-specific styles */

#location_anchor {
	min-height: 200px;
}

.loc-panel {
	min-height: 200px;
}

.loc-panel h3 {
	font-size: 18px;
}

.loc-panel .caption {
	overflow: hidden;
}

.loc-image {
		overflow: hidden;
		border: solid 1px #aaaaaa;
		text-align: center;
	}
	
.loc-image img {
	max-width: 100%;
}

.listNav {
	display: block;
    min-height: 40px;
    padding: 3px;
    margin-left: -15px;
    margin-right: -15px
    }

.listNav .left {
	float: left;
}

.listNav .right {
	float: right;
}

.listItem {
	position: relative;
} 

.right {
	float: right;
}

@media (min-width: 768px) {
	
	.loc-image {
		max-height: 300px;
		overflow: hidden;
		vertical-align: middle;
		border: solid 1px #aaaaaa;
		position: relative;
	}
}

.loc-panel h3 {
	margin-top: 5px;
}


.location_info {
	background: white;
	margin: auto;
	border: none;
	width: 600px;
	overflow:auto;
	min-height: 400px;
	position: relative;
}

.location_info h2 {
		-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	color: #0a84c1;
}

.location_info .contact_info  {
	float: left;
}

.location_info .contact_info p {
	margin: 0px;
}

.location_info .contact_info .category {
	 font-weight: bold;
	 color: #195C4B;	 
	 font-size: 15px;
	margin-bottom: 10px;
}


.location_info .figure {
	 float: right;
	 margin-left: 10px;
}

.location_info .description  {
	  	margin-top: 10px;
	  	float: left;
}

.location_info .figure img {
	 max-width: 300px; 	
}

.location_info .row  {
	  	/*border: solid 1px;*/
}

.location_info .links {
	clear: both;
	margin-top: 20px;
}

.location_info .links .row {
	  	margin-bottom: 10px;
	  	
}

@media screen and (max-width: 520px) {
 	.location_info {
 		width: 98%;	
 	}
 	
    .location_info .figure img  {
    max-width: 100px;
    } 
    
    .location_info .description  {
	  	float: none;
	}
	
	.location_info .figure {
		 float: none;
		 margin-left: 10px;
	}
   
}

.locationSearch {
	margin-left: 10px;
}

.ui-sortable-handle {
	cursor: pointer;
}


.switcher {
	
}

.switcher .switch {
	text-decoration: underline;
}


.formPanel {
	padding: 10px 10px;
	position: relative;
	max-width: 800px;
}

.formPanel .close {
	position: absolute;
	right: 5px;
	bottom: 0px;
	text-transform: uppercase;
	color: blue;
	background: url('../../img/icons/collapse.png') center right no-repeat;
	background-color: white;
	height: 30px;
	width 30px;
}


.routeSummary .origin, .routeSummary .destination {
	font-weight: bold;
}

.routeSummary .link {
	float: right;
	cursor: pointer;
	text-transform: uppercase;
	color: blue;
	background-image: url('../../img/icons/expand.png');
	background-repeat: no-repeat;
}

.locationProfile {
	text-align: left;
}

.locationModal {
	min-height: 100px;
	padding-top:20px;
	padding-bottom:20px;
}

.locationModal img {
	max-width: 100%;
	margin-bottom:10px;
}

.locationModalImage {
	text-align: left;
}

.locationModalImage img {
	max-width:100%;
	max-height: 500px;
}

.tripNav {
	margin: auto;
	max-width: 350px;
	
}

.alert {
	text-align: center;
	display: block;
}

.progress-wrapper {
	padding: 15px 10px 15px 10px;
	border: solid 1px #ddd;
	border-radius: 4px 4px 0 0;	
}

.centered {
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.toggle {
	float:right;
}

.list-label {
	font-weight: bold;
}

.align-left {
	float: left;
	text-align: left;
}

.modal {
	    overflow-y: scroll;
}

/* bootstrap modals don't work well on iPhones (scroll issues) 
 so these properties show/hide links that drive mobile-specific behavior */
.non-mobile {
	display: none;
}

@media only screen and (min-width: 480px) {
	.mobile-only {
		display: none;
	}
	
	.non-mobile {
		display: block;
	}
}

.hover-controls {
	position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
}

.hover-controls .close {
		font-size: 48px;
	}

@media only screen and (min-width: 750px) {
	.hover-controls .close {
		font-size: 14px;
	}
}

.workingPanel {
    	/*position: fixed;*/
    	top: 10px;
   }

@media only screen and (min-width: 750px) {
	.workingPanel {
    	position: relative;
   }
}

.overlap {
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.adframe {
	text-align: center;
}


.homePanel {
	overflow: auto;
}

.homePanelInner:hover {
	opacity: .9;
}

.homePanelInner {
	background-repeat: no-repeat;
	background-size: 0;
	cursor: pointer;
	opacity: 1; 
}

.homePanel .buttonPane {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.homePanelInner {
	height: 100%;
	width: 100%;
}

.homePanelImage  {
	display: block;
	float: left;
	margin-right: 10px;
}

.homePanelImage img {
	width: 100px;
}

.overlay h2{
	font-size: 20px;
	color: #337ab7;	
}

.overlay p {
	font-size: 14px;
}
@media (min-width: 992px) {
	
	.homePanelImage  {
		display: none;
	}

	/* overlay for displaying text on images */
	.overlay h2, .overlay p {
	color: #ffffff;
	background-color:rgba(0,0,0,0.6);
	padding: 5px 10px 5px 5px;
	}
	
	.overlay h2 {
		font-size: 28px;
	}
	
	.overlay p {
		font-size: 18px;
	}
	
	.homePanel {
		min-height: 350px;
	}
	
	.homePanelInner {
		margin: 0px;
		min-height: 340px;
		background-size: cover;
		position: relative;
	}
	
	.homePanelInner .overlay {
 	   position: absolute;
       bottom: 5px;
    	left: 0px;
    	width: 100%;
    	color: #ffffff;
	}
}

/* social bar */

.socialList {
	-webkit-padding-start: 0px;
	margin-top:5px;
}

.socialList li {
	display: inline-block;
}

.social {
	display: inline-block;

}

.icon {
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	min-height: 30px;
	background-repeat: no-repeat;
	background-size: cover;	
}

.icon-twitter {
	background-image: url("../../img/icons/twitter.png");

}

.icon-facebook {
	background-image: url("../../img/icons/facebook.png");
}

@media (min-width: 992px) {
	.icon {
		min-width: 30px;
		min-height: 30px;
	}
}

.logo {
	max-width: 100%;
}

.footer-nav .nav {
	display:inline-block;
}


/* floating edit button */
.floatingControl {
	position: absolute;
	top: 0;
	right: 0;
}

.highlight {
	border: solid 1px;	
}

.jumbotron {
	background-color: #fff;
}
