#maincontent {
	background-color: #ffffff;
	}
	
#header #logo {
	background-image: url('../../img/bbq.png');
}


body {
	font-family: Arial;
	color: black;
}

a {
	color: #bb2325;
}

a:visited {
	color: #bb2325;
}


/* Navbar styles */
.navbar {
	font: 1.2em georgia,serif;
	text-transform: uppercase;
}

.navbar-default .navbar-brand {
	color: #bb2325;
}

.nav-pills > li.active > a {
	    background-color: #bb2325;
}

.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
	    background-color: #bb2325;
}


/* Button Styles */
.btn-default, .btn-default:active:focus, .btn-default.active, .btn-default:focus {
	background-color: #ffffff;
    border-color: #bb2325;
    color: #bb2325;
	outline: none !important;
}

.btn-default a, .btn-default a:visited {
    color: #bb2325;
}


.btn-primary, .btn-primary:active:focus, .btn-primary.active, .btn-primary:focus {
	background-color: #bb2325;
    border-color: #bb2325;
    color: #ffffff !important;
	outline: none !important;
}

.btn-primary a {
    color: #ffffff !important;
}

.btn-primary a:visited {
    color: #ffffff;
}

.btn-primary:hover {
	background-color: #e74c3c;
    border-color:#e74c3c;
    outline: none !important;
}

.btn-primary.disabled {
	background-color: #cccccc;
    border-color: #aaaaaa;
}

.btn-primary.disabled:hover {
	background-color: #aaaaaa;
    border-color: #aaaaaa;
}

.btn-info, .btn-info:active, .btn-info:active:focus, .btn-info.active, .btn-info:focus {
	background-color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: none;
    outline: none !important;
}

.btn-info:hover {
	background-color: #bb2325;
    border-color: #bb2325;
    outline: none !important;
}

/* Panels */

.panel-info {
    border-color: #777;
}

.panel-info > .panel-heading {
    color: #bb2325;
    background-color: #cccccc;
    border-color: #777;
}   


/* Specific page element styles */
#listNav {
	background-color: #bb2325 !important;
}

.mapInfoWindow a {
    color: #bb2325;
}
.mapInfoWindow a:visited {
    color: #bb2325;
}

.mapInfoWindow .flag {
	background-color: #bb2325;
	color: #ffffff;
}

.ribbon-green {
	background-color: #e74c3c;
	color: #fff;	
}

.label-success {
	background-color: #bb2325;	
}

.label-info {
	background-color: #bb2325;
}

/* Need to move around if no ads allowed or header a different height, etc. */
@media screen and (min-width: 1024px) {
 	
	.searchPanel {
		top: 70px !important; 
	}
	
	.mapcontent {
		top: 120px !important;
	}	
}